{% extends 'homepage/base.html'%}
{% load i18n %}
{% load static %}
{%load djmoney%}
{% money_localize money on}

{% block content %}
<section class="food_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
         {%trans "Our Menu" %}
         <form class="total-text" method="GET">
          &emsp; <button type="submit" class="fa fa-search searchbox" aria-hidden="true" >
          </button> 
          <input class="input-search" placeholder='{% trans "Search for food here" %}' name="food_name" type="text" />
        </form>   
        </h2>

      </div>
      <ul class="filters_menu">
        {% for Category in menu %}
            <li class="active" data-filter=".{{ Category.name }}">
                <a href="?category={{Category.name}}">  {% trans Category.name %} </a>
            </li>
            &emsp; 
        {% endfor %}
    </ul>
    <div class="filters-content">
      <div class="row grid">
        {% for Product in products%}
        {% if request.GET.category == Product.category.name or request.GET.category|length == 0  %}
        <div class="col-sm-6 col-lg-4 all pizza">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="{{Product.image.url}}" >
              </div>
              <div class="detail-box">
                <h5  class="product-title-text"> {% trans Product.name%} </h5>
                <p class="description-text"> {% trans Product.description %} </p>
                <div class="options"> 
                  <h6> {% money_localize Product.base_price 'VND' %} </h6>
                  <a href="{% url 'home:add_to_cart' Product.id %}" class="user_link">
                    <i class="fa fa-shopping-cart	" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% empty %}
          <h2>{% trans "There are no products matching the search results!!!" %}</h2>
        {% endfor %}
      </div>
    </div>
    </div>
</section>
{% endblock %}>
