{% extends 'homepage/base.html'%}
{% load i18n %}
{% load static %}

{% block content %}
<section class="food_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
            <p></p>
          {%trans "Our Menu" %} 
        </h2>
      </div>
      <ul class="filters_menu">
        {% for Category in menu %}
            <li class="active" data-filter=".{{ Category.name }}">
                <a href="{{ Category.get_absolute_url }}">
                  {% trans Category.name %}
                </a>
            </li>
            &emsp; 
        {% endfor %}
      </ul>
    </div>
</section>
{% endblock %}>
